/* DEFAULT STATE (NOT FULLSCREEN) */

.waterslide {
    position: relative;
}
.waterslide .caption,
.waterslide .controls,
.waterslide .credit,
.waterslide .thumbnails {
    display: none;
}
.waterslide ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.waterslide ol li {
    display: none;
}
.waterslide ol li.active {
    display: block;
}
.waterslide ol li.active img {
    display: block;
    width: 100%;
}

/* FULLSCREEN STUFF */

.waterslide.fullscreen li {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.waterslide.fullscreen li .image {
    display: none;
}
.waterslide.fullscreen .caption,
.waterslide.fullscreen .controls,
.waterslide.fullscreen .thumbnails {
    -webkit-transition: all 1s;
    background-color: rgba(0,0,0,.5);
    display: block;
    position: fixed;
}
.waterslide.fullscreen .caption {
    bottom: 100px;
    color: white;
    font-style: italic;
    padding: .5em;
}
.waterslide.fullscreen .controls {
    padding: .5em;
    top: 0;
    text-align: center;
    width: 100%;
}
.waterslide.fullscreen a:focus,
.waterslide.fullscreen a:active {
    outline: 3px solid green;
}
.waterslide.fullscreen .controls > a {
    background-color: #333;
    display: inline-block;
    height: 40px;
    margin: 0 .65em 0 0;
    text-align: left;
    text-indent: -10000px;
    width: 40px;
}
.waterslide.fullscreen .controls .prev {
    background-image: url(./img/prev.png);
}
.waterslide.fullscreen .controls .next {
    background-image: url(./img/next.png);
}
.waterslide.fullscreen .controls .exit {
    background-image: url(./img/exit-fullscreen.png);
    position: absolute;
    right: 1em;
}
.waterslide.fullscreen .thumbnails {
    bottom: 0;
    left: 0;
    margin-top: 1em;
    overflow: scroll;
    padding: .5em;
    right: 0;
    white-space: nowrap;
}
.waterslide.fullscreen .thumbnails a {
    display: inline-block;
    height: 60px;
    margin-right: .25em;
    padding: 7px;
}
.waterslide.fullscreen .thumbnails a.active {
    background-color: green;
}
.waterslide.fullscreen .thumbnails a img {
    border: 1px solid #aaa;
    display: block;
    height: 60px;
}
.waterslide.fullscreen.hide-chrome .caption,
.waterslide.fullscreen.hide-chrome .controls,
.waterslide.fullscreen.hide-chrome .thumbnails {
    opacity: 0;
}
